@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.header {
  width: 100%;
  padding: 1rem .5rem;
  background-color: #34D399;
  text-align: center;
  border-radius: 0 0 20px 20px;
  font-family: "Lato";
  color: white;
  /* font-size: 1.5rem; */
}

.editor-container {
  width: 1000px;
  margin: 6rem auto;
  outline: none;
  height: 300px;
  font-family: "Lato" !important;
  border-radius: 10px;
  position: relative;
}

.richTextOptions {
  width: 100%;
  border: 1px solid #ccc;
  border-bottom: none;
  border-radius: 10px 10px 0 0;
  display: flex;
}

.editor {
  outline: none;
  padding: 1rem;
  height: 100%;
  width: 100%;
  overflow: auto;
  border: 1px solid #ccc;
  scroll-behavior: smooth;
}
.richTextOptions i {
  padding: .5rem;
}
.richTextOptions i:hover {
  background: rgb(234, 233, 233);
  cursor: pointer;
}
.alignment, .fontsize {
  position: relative;
}
.alignment_options, .fontsize_options {
  position: absolute;
  top: 40px;
  background: white;
  border: 1px solid rgb(100, 225, 239);
  border-radius: 5px;
  transform: scale(0);
  transition: transform 0.3s ease-in-out;
  transform-origin: top left;
}
.fontsize_options {
  top: 40px;
}

.show {
  display: block;
  transform:  scale(1);
}
.hide {
 display: none;
}
